.login {
    display: flex;
    width: auto;
    background-color: #E5E5E5;
}

.login__div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.login__titulo {
    font-size: 22px;
    font-weight: bold;
    color: #464646;
    margin-left: 35%;
    margin-bottom: 10px;
    margin-top: 40px;
}

.login__input {
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    border: none;
}

.login__button {
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    background-color: #2A7AE4;
    color: #FFFFFF;
    border: none;
    padding: 15px;

}

.button__login {
    text-align: center;
    text-decoration: none;
    color: #2A7AE4;
    background-color: #ffffff;
    border-color: #2A7AE4;
    border: 1px solid;
    width: 20%;
    padding: 15px 0px;
    position: absolute;
    margin-left: 60%;
    margin-top: 20px;
}

.logado {
    display: none;

}

.logado__button {
    text-align: center;
    text-decoration: none;
    color: #2A7AE4;
    background-color: #ffffff;
    border-color: #2A7AE4;
    border: 1px solid;
    width: 20%;
    padding: 15px 0px;
    position: absolute;
    margin-left: 60%;
    margin-top: 20px;
    font-size: 16px;
}

@media (min-width: 900px) {

    .login__div {
        height: 50vh;
        align-items: center;

    }

    .login__titulo {

        margin-left: 0%;
    }

    .login__input {
        width: 40%;
    }

    .logado {
        display: flex;
        width: 20%;
        padding: 15px 0px;
        position: absolute;
        margin-left: 58%;
        margin-top: 10px;
        font-size: 16px;
    }

    .logado__button {
        margin-left: 78%;
        margin-top: 20px;
        font-size: 16px;
    }
}