.cadastrarProduto{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e6e6e6;
}
.cadastrarProduto__titulo{
    font-size: 22px;
    margin: 10px auto;
    padding: 20px;
}
.cadastrarProduto__div--img{
    border: 1px dashed #C8C8C8;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cadastrarProduto__div--text{
    font-size: 20px;
    color: #6B6B6B;
    margin: 10px;

}
.cadastrarProduto__label{
    background-color: #ffffff;
    padding: 10px;
    padding-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.cadastrarProduto__input--nome{
     background-color: #ffffff;
    padding: 10px;
     margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: none;
}
.cadastrarProduto__input--preco{
     background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
     margin-left: 5px;
    margin-right: 5px;
    border: none;
}
.cadastrarProduto__input--descricao{
     background-color: #ffffff;
    padding: 10px ;
     margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 50px;
    border: none;
}
.cadastrarProduto__button{
    color: #ffffff;
    background-color: #2A7AE4;
    margin: 10px;
    padding: 15px;
    border: none;
    margin-bottom: 30px;
}
@media (min-width: 1400px)
{
 
.cadastrarProduto__titulo{
    font-size: 30px;
   
}
.cadastrarProduto__button--img{
    width: 80%;
    margin-left: 10%;
}

.cadastrarProduto__label{
   width: 80%;
   margin-left: 10%;
}
.cadastrarProduto__input--nome{
  width: 80%;
   margin-left: 10%;
}
.cadastrarProduto__input--preco{
  width: 80%;
   margin-left: 10%;
}
.cadastrarProduto__input--descricao{
     width: 80%;
   margin-left: 10%;
}
.cadastrarProduto__button{
    width: 30%;
   margin: 0px auto;
}
}