.produtos__todos{
background-color: #f0f0f0;
padding: 10px;
}
.produtos__todos--titulo{
font-size: 22px;
margin: 40px;
}
.produtos__todos--button{
    background-color: #2A7AE4;
    color: #ffffff;
    border: none;
    padding: 15px;
    margin: 40px;
    width: 45%;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
@media (min-width:900px){
    .produtos__todos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .produtos__todos--button{
    width: 30%;
    margin-right: 10%;
}
}
@media (min-width:900px){
  .produtos__todos--titulo{
    font-size: 30px;
    margin-left: 10%;
}
    .produtos__todos--button{
    width: 15%;
}
}