.rodape{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    
}
.rodape__logo{
    width: 55%;
    margin: 30px 30%;
    padding: 10px;
    font-size: 1.3rem;
    
}
.rodape__logo--link{
    display: flex;
    justify-content: center;
    text-decoration: none;
     color: #464646;
     display: flex;
     align-items: center;
}
.rodape__logo--img{
    height: 22px;
}
.rodape__logo--alura{
    color: #2A7AE4;
}
.rodape__form{
    width: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
  margin-left: 5%;
  margin-top: 30px;
}
.form__titulo{
    font-size: 18px;
   margin-bottom: 10px;
}
.form__nome{
    background-color: #ffffff;
    width: 80%;
    height: 20px;
    padding-top: 5px;
    color: #A2A2A2;
    padding-left: 5px;
}
.form__nome--input{
    background-color: #ffffff;
    width: 80%;
    height: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #464644;
    font-weight: bold;
    border: none;
}
.form__texto{
    background-color: #ffffff;
    width: 80%;
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    color: #A2A2A2;
    border: none;

}
.form__button{
    background-color: #2A7AE4;
    color: #ffffff;
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
}
.rodape__nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 25%;
    text-align: center;
}
.rodape__nav--link{
    text-decoration: none;
    color: #464644;
    margin-top: 15px;
}
.rodape__titulo--autor{
    margin: 40px auto;
}
@media (min-width:900px){
 .rodape{
    justify-content: flex-start;
    flex-direction: column;
}
.rodape__logo{
    width: 20%;
    margin-left: 1%;
}
.rodape__nav{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align:start;
    margin: 10px;
    margin-left: 5%;
}
.rodape__form{
     width: 40%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-left: 50%;
     margin-top: 30px;
     position: absolute;
}
}
@media (min-width:1400px){
    .rodape{
    justify-content:flex-start;
    flex-direction: row;
}
.rodape__logo{
    margin-right: 0%;
    margin-left: 0%;
}
.rodape__nav{
   
    margin-left: 0%;
}
.rodape__form{  
     margin-left:10%;
     position: relative;
}
.rodape__titulo--autor{
    margin: 100px auto;
}
}