.cabecalho {
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
}

.cabecalho__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;

}

.cabecalho__nav--link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #464646;
    font-size: 1.3rem;

}

.cabecalho__link--img {
    width: 36px;
    height: 12px;
}

.cabecalho__logo--alura {
    color: #2A7AE4;
}

.cabecalho__input {
    display: none;
    border: none;
}

.cabecalho__button--busca {
    border: none;
    background-color: #ffffff;
    color: #464646;

}

@media (min-width: 900px) {
    .cabecalho__nav {
        width: 100%;
        justify-content: start;
        margin: 20px 0px;

    }

    .cabecalho__input {
        margin-left: 10%;
        display: inline;
        background-color: #ffffff;
        padding: 10px;
        width: 25%;
    }

    .cabecalho__button--busca {
        margin-right: 15%;

    }
}

@media (min-width: 1400px) {
    .cabecalho__nav--link {
        margin-left: 10%;

    }

    .cabecalho__button--login {
        width: 15%;

    }


}